[submodule "tools/firrtl2"]
	path = tools/firrtl2
	url = https://github.com/ucb-bar/firrtl2.git
[submodule "tools/cde"]
	path = tools/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "tools/firesim"]
	path = tools/firesim
	url = https://github.com/firesim/firesim.git
[submodule "mosaic/src/main/resources/mosaic/MoSAIC-P38"]
	path = mosaic/src/main/resources/mosaic/MoSAIC-P38
	url = https://github.com/lbnlcomputerarch/MoSAIC-P38.git
